/* Import styles to index.js with import './index.css' */
/* Refer to components with className */

/* Default = Open Sans, else = sans-serif*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

/* Keyframes for fadeIn animation */

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

/* Body styles */

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #ffff;
}

/* Related to typography */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 86%;
}

/* Related to structure */

.wrapper {
   margin: 0 auto;
   animation: fadeIn ease 1s;
   -webkit-animation: fadeIn ease 1s;
   -moz-animation: fadeIn ease 1s;
   -o-animation: fadeIn ease 1s;
   -ms-animation: fadeIn ease 1s;
}

/* Accessibility */

a:focus {
    border-style: dotted;
    width: 1px;
    color: black;
    padding: 4px;
}

.skip
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
z-index: -999;
}

.skip:focus {
    position:absolute;
    left:20px;
    top:12px;
    width:200px;
    height:20px;
    overflow:hidden;
    z-index: 2;
    border-style: dotted;
    color: black;
    padding: 6px;
    display: inline-block;
}

/* Navigation */

.header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1080px;
    margin: 0 auto;
}

.header-navigation-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

.log-in {
    margin-right: 20px;
}

/* Hero */

header {
    background-color: #ffff;
}

.hero-container {
    padding: 20px 20px 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1080px;
    margin: 0 auto;
    background-color: #ffff;
}

.hero-text-container {
    align-self: center;
    padding-bottom: 30px;
}

.yellowLine {
    display: block;
    margin-top: 0px;
    width: 80px;
    border-top: 5px solid #F2CC02;
}

.hero-container p {
    margin-top: 26px;
    max-width: 440px;
}

.main-image-container {
    align-items: center;
    align-self: center;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.hero-image {
    max-width: 420px;
    height: auto;
}

/* Hero view when a project is opened*/

.hero-project-container {
    display: grid;
    background-color: #ffff;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    
    padding: 20px 20px 20px 20px;
    max-width: 1080px;
    margin: 0 auto;
}

.project-headline {
    margin-top: 0;
}

.short-description {
    margin-top: 20px;
    max-width: 480px;
}

.makers-year {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}

.makers-year li {
    list-style: none;
}

.makers, .year {
    margin-top: 0;
    padding: 0;
}

/* Hero when project is opened, small breakpoint (mobile) */
@media only screen and (max-width: 520px) {

    .makers-year {
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
    }

}

/* Main Content when project is opened */

.cover-image-wrapper {
    width: 100%;
    background-color: #ffff;
}

.hero-cover-image {
    margin: 0 auto;
    max-width: 1080px;
    height: 420px;
    background-color:rgb(83, 83, 83);
    background-image: url('./assets/hero-cover-image-placeholder.png');
}

.description-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 20px 40px 20px;
}

.description-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2px 2px 2px 2px;
    max-width: 1080px;
    margin: 0 auto;
    background-color: #ffff;
    padding-bottom: 80px;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.long-description-headline {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.long-description-paragraph {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 1.7;
}

/* MainContent when project is opened, small breakpoint (mobile) */
@media only screen and (max-width: 520px) {

    .description-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .description-container {
        padding: 10px 16px 10px 14px;
    }

}

/* Grid container small breakpoint (mobile)*/
@media only screen and (max-width: 520px) {

    .hero-project-container {
        padding: 20px 20px 40px 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .project-headline {
        margin-top: 0px;
        line-height: 1.2;
    }

    .short-description {
        max-width: 300px;
    }

}

/* Project preview Grid */

.grid-wrapper {
    background-color: #f0f0f0;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Container wrapper for Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    max-width: 1080px;
    margin: 0 auto;
}

/* Grid container medium breakpoint (tablet)*/
@media only screen and (max-width: 920px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);

    }
}

/* Grid container small breakpoint (mobile)*/
@media only screen and (max-width: 520px) {

    .header-navigation-items li {
        padding: 5px;
    }

    .hero-container {
        padding: 20px 20px 40px 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    h1 {
        margin-top: 0px;
        line-height: 1.2;
    }

    .hero-container p {
        max-width: 300px;
    }

    .grid-wrapper {
        padding-top: 20px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 14px 14px 14px 14px;
    }

    .card-paragraph {
        max-width: 100%;
    }
}

/* Preview-card section */

.preview-card {
    background-color: #ffff;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
    padding: 20px;
    font-size: 16px;
    border-radius: 4px;
    animation: fadeIn ease 1.3s;
    -webkit-animation: fadeIn ease 1.3s;
    -moz-animation: fadeIn ease 1.3s;
    -o-animation: fadeIn ease 1.3s;
    -ms-animation: fadeIn ease 1.3s;
}

.preview-card img {
        object-fit: cover;
        width: 100%;
    }

.preview-card:hover {
opacity: 1 !important;
box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
transform: translate(0, -4px);
transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
transition-delay: 0.1s;
z-index: 999;
}

.card-paragraph {
    max-width: 94%;
}

.preview-card button {
    text-align: left;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #ffff;
    color: #737373;
    border: none;
    height: 64px;
    font-size: 1em;
    text-decoration: underline;
}

button:focus {
    border-style: dotted;
    color: black;
}

button:hover {

    color: black;
}

/* Footer*/

footer {
    max-width: 100%;
    background-color: #ffff;
    padding: 20px;
    height: 40px;
}