/* Import styles to index.js with import './index.css' */
/* Refer to components with className */

/* Headline font: Open Sans, paragraph font: Crimson Text */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

body {
    margin: 0 auto;
    max-width: 1080px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

/* Related to typography */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

/* Related to structure */

.wrapper {
   margin: 0 auto;
   
}

/* Navigation */

.header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-navigation-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

/* Hero */

.hero-container {
    padding: 20px 20px 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.yellowLine {
    display: block;
    margin-top: -14px;
    width: 78px;
    border-top: 4px solid #F2CC02;
}

.hero-container p {
    max-width: 400px;
}

/* Container wrapper for Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

/* Grid container medium breakpoint (tablet)*/
@media only screen and (max-width: 920px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);

    }
}

/* Grid container small breakpoint (mobile)*/
@media only screen and (max-width: 520px) {

    .hero-container {
        padding: 20px 20px 40px 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    h1 {
        margin-top: 0px;
        line-height: 1.2;
    }

    .hero-container p {
        max-width: 300px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 14px 14px 14px 14px;

    }

    .card-paragraph {
        max-width: 100%;
    }
}

.preview-card {
    background-color: #ffff;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
    padding: 20px;
    font-size: 14px;
    border-radius: 4px;
}

.card-paragraph {
    max-width: 96%;
}